<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <springProperty scope="context"
                    name="serviceName"
                    source="spring.application.name"
                    defaultValue="adapter-mts"/>

    <springProperty scope="context"
                    name="environment"
                    source="spring.profiles.active"
                    defaultValue="local"/>

    <appender name="JSON_CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</pattern>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <pattern>
                    <pattern>
                        {
                        "service": "${serviceName}",
                        "environment": "${environment}"
                        }
                    </pattern>
                </pattern>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <threadName>
                    <fieldName>thread_name</fieldName>
                </threadName>

                <loggerName>
                    <fieldName>logger_name</fieldName>
                </loggerName>

                <message/>

                <mdc/>

                <stackTrace>
                    <fieldName>stacktrace</fieldName>
                </stackTrace>

            </providers>

        </encoder>

    </appender>

    <appender name="FILE_JSON"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</pattern>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <pattern>
                    <pattern>
                        {
                        "service": "${serviceName}",
                        "environment": "${environment}"
                        }
                    </pattern>
                </pattern>

                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>

                <threadName>
                    <fieldName>thread_name</fieldName>
                </threadName>

                <loggerName>
                    <fieldName>logger_name</fieldName>
                </loggerName>

                <message/>

                <mdc/>

                <stackTrace>
                    <fieldName>stacktrace</fieldName>
                </stackTrace>

            </providers>

        </encoder>

    </appender>

    <appender name="ASYNC_JSON"
              class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="JSON_CONSOLE"/>
    </appender>


    <appender name="PLAIN_CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] [ip=%X{ip:-}] %cyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="PLAIN_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!local">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>

</configuration>
